<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Cadastrando vaga
        </ion-title>
    </ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>  
</ion-header>

<ion-content>
    <form [formGroup]="this.vagaForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item>
                <ion-label position="fixed">Código da Vaga</ion-label>
                <ion-input formControlName="codigo"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="fixed">Coberta</ion-label>
                <ion-toggle formControlName="coberta"></ion-toggle>
            </ion-item>

            <ion-button expand="full" type="submit" [disabled]="!vagaForm.valid">Salvar</ion-button>
        </ion-list>
    </form>